.cartel {
  --font-size: 1.3vmax;
  --font-size-large: 4vmax;
  --font-size-small: 0.9vmax;
  --font-size-xsmall: 0.9vmax;

  --padding: 4vmax;
  --padding-top: 6vmax;

  --grid-color: rgb(76, 76, 76);

  padding: var(--padding-top) 0.9rem var(--padding);
  gap: var(--padding);

  height: 100%;

  header {
    margin-bottom: 3rem;
  }

  h1 {
    font-size: var(--font-size-large);
    font-weight: normal;
    margin-left: -0.09em;
  }

  h2 {
    position: fixed;
    font-size: var(--font-size);
    top: var(--padding-top);
    margin-top: 4.7em;
    font-weight: normal;
  }

  &__content {
    font-size: var(--font-size);
    display: grid;
    grid-template-columns: 50ch 1fr;
    gap: calc(var(--padding) * 1.5);
    align-content: end;
    margin-top: 4.8em;
  }

  &__text {
    font-size: var(--font-size);
    line-height: 1.4;

    p {
      margin-bottom: 1.3em;
    }
  }

  &__renderers {
    display: none;

    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    line-height: 0;
    align-content: center;
    justify-content: flex-end;
    height: fit-content;

    position: fixed;
    top: 16.2vmax;
    right: 0.9rem;
    width: 50vmax;
  }

  .renderer {
    margin-left: -1px;
    margin-bottom: -1px;

    &, canvas {
      width: 10rem !important;
      height: 10rem !important;
    }

    &::before {
      content: attr(data-name);
      font-size: var(--font-size-xsmall);
      position: absolute;
      bottom: 0;
      z-index: 1;

      bottom: 0.8vmax;
      left: 0.5vmax;
    }

    &[data-count]:not([data-count='null'])::after {
      content: '×\2009'attr(data-count);
      font-size: var(--font-size-xsmall);
      position: absolute;
      top: 0.8vmax;
      right: 0.5vmax;
      text-align: right;
      color: white;
      font-variant-numeric: tabular-nums;
    }

    canvas:first-child {
      outline: 1px solid var(--grid-color);
      outline-offset: -1px;
    }
  }

  &__sponsors {
    position: fixed;
    bottom: 3vmax;
    left: 0;
    right: 0;

    display: flex;
    gap: calc(var(--padding) / 2);
    align-items: center;
    justify-content: center;

    display: none;

    img {
      transform: translateY(calc(var(--y, 0) * 100%));
      height: calc(3vmax * var(--s, 1));
      width: auto;
    }
  }

  // &__count {
  //   position: fixed;
  //   font-size: var(--font-size-small);
  //   right: 0.9rem;
  //   bottom: 5.3vmax;
  //   margin-top: 0.8em;
  //   font-variant-numeric: tabular-nums;

  //   span {
  //     display: inline-block;
  //     border-bottom: 1px solid;
  //     text-align: right;
  //   }
  // }

  &__count {
    position: fixed;
    font-size: var(--font-size-small);
    left: 53.3vmax;
    top: 11.3vmax;
    margin-top: 0.8em;
    font-variant-numeric: tabular-nums;

    span {
      display: inline-block;
      border-bottom: 1px solid;
      text-align: right;
    }
  }
}
