@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes send {
  0% { transform: none; }
  10% { transform: skewY(5deg) scale(0.5, 1) translateY(-150%); }
  100% { transform: translateY(-150%); }
}

@keyframes button--random {
  from { transform: none; }
  to { transform: rotate(1turn); }
}

@keyframes button--send {
  0% { transform: none; }
  30% { transform: translateY(50%); }
  100% { transform: translateY(-200%); }
}


.remote {
  @include no-select;

  --one-pixel: 2px;

  --font-size-small: 1.5vmax;
  --font-size-large: 4vmax;
  --padding: 9vmax;

  --grid-height: 30vmax;
  --grid-color: rgb(76, 76, 76);
  --grid-steps-x: 30;
  --grid-steps-y: 16;

  --menu-gap: 3vmax;

  --button-padding: 2vmax;
  --button-icon-size: 2vmax;
  --button-y: 13.5vmax;
  --button-gap: 21vmax;

  font-family: 'Styrene';
  font-size: var(--font-size-large);
  line-height: 1.4;
  color: white;

  height: 100vh;

  display: flex;
  flex-direction: column;

  & > * {
  }

  h1 {
    font-weight: normal;
    font-size: var(--font-size-large);
    padding: calc(var(--padding) * 0.66) var(--padding);
    text-transform: capitalize;
  }

  &__renderer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    min-height: var(--grid-height);
    outline: var(--one-pixel) solid var(--grid-color);

    &::before {
      @include inset(-1px);
      content: '';

      border-right: var(--one-pixel) solid var(--grid-color);
      border-bottom: var(--one-pixel) solid var(--grid-color);

      background:
        repeating-linear-gradient(
          90deg,
          var(--grid-color),
          var(--grid-color) var(--one-pixel),
          transparent var(--one-pixel),
          transparent calc(100% / var(--grid-steps-x))
        ),
        repeating-linear-gradient(
          180deg,
          var(--grid-color),
          var(--grid-color) var(--one-pixel),
          transparent var(--one-pixel),
          transparent calc(100% / var(--grid-steps-y))
        ),
      ;
    }

    .renderer {
      animation: send 3000ms cubic-bezier(.15,-0.2,1,0);

      canvas[data-name='trace'] {
        display: none;
      }
    }
  }

  .gamepad-menu {
    --font-size-label: var(--font-size-small);
    padding: var(--padding);
    gap: var(--menu-gap);
  }

  .button {
    --color: white;
    --border-color: white;
    --background: black;
    padding: var(--button-padding);
    overflow: hidden;
    border-width: var(--one-pixel);
    border-radius: 0;
    border-right: 0;

    .button__icon svg {
      height: var(--button-icon-size);
      width: var(--button-icon-size);
    }

  }

  .button--random {
    position: fixed;
    right: 0;
    top: calc(var(--button-y) + var(--button-gap));

    .button__icon {
      animation: button--random 500ms;
    }
  }

  .button--send {
    position: fixed;
    right: 0;
    top: var(--button-y);

    .button__icon {
      animation:
        button--send 400ms,
        fade-in 3000ms 400ms
      ;
    }
  }
}
